<launch>
  <!-- Launch Hesai LiDAR driver -->
  <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" />

  <!-- Static TF transformations -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar" 
        args="0.171 0.0 0.0908 0 0 0 camera_init hesai_lidar 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" 
        args="0 0 0 0 0 0 camera_init go2_imu 100" />

  <!-- Load Faster-LIO parameters -->
  <rosparam command="load" file="$(find faster_lio)/config/hesai.yaml" />

  <param name="feature_extract_enable" type="bool" value="0"/>
  <param name="point_filter_num_" type="int" value="4"/>
  <param name="max_iteration" type="int" value="3" />
  <param name="filter_size_surf" type="double" value="0.5" />
  <param name="filter_size_map" type="double" value="0.5" />
  <param name="cube_side_length" type="double" value="1000" />
  <param name="runtime_pos_log_enable" type="bool" value="0" />
  <param name="traj_log_file" type="string" value="/home/unitree/unitree_ros1/src/faster-lio/traj.txt" />
  
  <!-- Start Faster-LIO mapping node -->
  <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" />

  <!-- Optionally launch RViz -->
  <arg name="rviz" default="false" />
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find faster_lio)/rviz_cfg/loam_livox.rviz" />
  </group>
</launch> 
